<h2>Listado obtenido de <a href="https://pokeapi.co">PokeApi.co</a> </h2>

<div class="pokes" *ngIf="pokes && pokes.results">
  <div *ngFor="let poke of pokes.results">
    <a routerLink="/detail/{{ poke.url | slice:34:-1 }}">
    <div class="poke">
      <div class="" class="badge">{{poke.id}}</div> {{poke.name}}
  </div>
  </a>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->