.pokes {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke {
    background: lightgray;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border: solid #1976d2 2px;
    color: #1976d2;
    font-size: 1em;    
}

.poke:hover {
    background: #1976d2;
    color: lightgray;
}

.controls-containers {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 2em auto;
    text-decoration: underline;
    text-transform: uppercase;
}
