/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: white;
  color: black;
  border: 2px #1976d2 solid;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

img {
  width:120px;
}

h2 {
  text-align: center;
}